<!DOCTYPE html>
<html>

	<head>
		{{! Document Settings }}

		{{! Page Meta }}
		<title>{{meta_title}}</title>
		<script>
		var mondoOptions = {
			'retina_logo': '',
			'disqus_shortname': 'timchungme',
			'facebook_page': 'timchunght',
			'copyright_text': '',
			'social_links': {
				'twitter': 'https://twitter.com/timchunght',
				'facebook': 'https://www.facebook.com/timchunght',
				'youtube': '',
				'pinterest': '',
				'dribbble': '',
				'instagram': '',
				'linkedin': 'https://www.linkedin.com/in/timchunght',
				'tumblr': '',
				'google-plus': '',
				'behance': '',
				'flickr': '',
				'github-alt': 'https://github.com/timchunght',
				'slideshare': '',
				'codepen': '',
				'reddit': '',
				'soundcloud': '',
				'steam': '',
				'twitch': '',
				'vine': '',
				'vk': '',
			},
		}
		</script>
		<meta name="description" content="{{meta_description}}" />
		<meta name="version" content="1.0.1" />

		{{! Styles'n'Scripts }}
		<!-- Stylesheet -->
		<link rel='stylesheet' href='/css/style.css' type='text/css' media='all' />
		<link rel='stylesheet' href='/css/navbar.css' type='text/css' media='all' />
		<script type="text/javascript" src="/js/jquery.fitvids.js"></script>


		<!-- Font Awesome Icons -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- JQuery  -->
		<script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="/js/jquery.fitvids.js"></script>

		<!-- Velocity -->
		<script type="text/javascript" src="/js/velocity.min.js"></script>		
		<!-- Google Fonts; Open Sans & Gentium book Basic -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800|Gentium+Book+Basic:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

		<!-- Prism Code Highlighting -->
		<link rel="stylesheet" type="text/css"  
      href="/css/prism.css" /> 
  	<script type="text/javascript"  
        src="/js/prism.js"></script>

		<!--  Mobile viewport scale -->
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{{! Ghost outputs important style and meta data with this tag }}
    	{{ghost_head}}

	</head>

	<body class="{{body_class}}">

		<div id="wrapper">

			{{! Everything else gets inserted here }}
    		{{{body}}}

    	</div>

		{{! Ghost outputs important scripts and data with this tag }}
    	{{ghost_foot}}

    	{{! Main javascript file }}
    	<script type="text/javascript" src="/js/general.js"></script>
    	<script type="text/javascript" src="/js/slick.js"></script>

    	<script type="text/javascript" src="/js/navbar.js"></script>

	</body>

</html>